body {
  padding: 0;
  margin: 0;
}
.mainDiv {
  display: flex;
  width: 100%;
}
.leftNav {
  width: 16%;
  background-color: #c0c0c0;
  color: #333333;
  font-size: 24px;
  height: 1000px;
  padding: 20px;
}
.rightMain {
  width: 84%;
  height: 1000px;
  background-color: #fff;
  font-size: 20px;
}
.rightMain h2{
  padding-left: 20px;
}
.topNav {
  height: 50px;
  background-color: #cfdefd;
}
.topNav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.topNav li {
  padding: 10px;
  text-align: center;
  list-style: none;
}
.videoContent {
  padding: 20px;
}
